* 
{
    margin: 0;
    padding: 0;


 display:block
}
title
{
    display: none;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{

display: flex;
font-size: xx-large;
background-color: rgb(103, 39, 117); 
padding-left: 10px;
background: linear-gradient(
    blue, purple );
    color: aliceblue;
}

header nav 
{
    
    margin-left:auto;
    margin-right: 2%;
}

header nav a
{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
     color: aliceblue;
    text-decoration: none;
    
}

.workbox
{
flex-wrap: wrap;
}

#Box1
{

}

#Box2
{

}

#Box3
{

}

#Box4
{

}

#Box5
{

}

.line
{

}

/* .lineafter ::before {
    content: "peepee";
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 1px; 
    height: 100%; 
    background-color: black;
  } */